.Good_header_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.Good_header_button{
    margin: 1.5rem 0;
}

.Good_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.Good_footer_button{
    margin-top: 1.5rem;
}
