<div style="text-align: center;">
    <div class="Good_header_logo">{# 2rem: 상하 0: 좌우 #}
        <h1>Good</h1>
    </div>
    <div class="Good_header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>
</div>